extends layout

block content
  a(href="http://b.faloo.com/f/472061.html",target="blank")= title
  div.row
    div.id
    div.name
    div.wrapper
      each t,i in headers
        if i>1
          div.count
            div.zb= '人气:' + novel[t].RQ
            div.zb= '鲜花:' + novel[t].FLOWER
            div.zb= '收藏:' + novel[t].SC
            div.zb= 'v收:' + novel[t].VS  
  div.row
    div.id=headers[0]
    div.name=headers[1]
    div.wrapper
      each t,i in headers
        if i>1
          div.count= t
  each id,i in chapters[0]
    div.row
      div.id= id
      div.name
        a(href="https://b.faloo.com/p/472061/"+id+".html",target="blank")= chapters[1][i]
      div.wrapper
        each t,index in counts[id]
          if id === '-'
            div.count= t + '(' + Math.floor(t / (chapters[0].length - 1)) + ')' + (index > 0 ? '___'+ (t - counts[id][index -1]) :'')
          else
            div.count= index > 0 ? t + '___'+ (t - counts[id][index -1]) :t 
        